/* 
 * Fonts 
 */
 
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/*
 * Icons ( https://icomoon.io/app )
 */ 

@font-face {
  font-family: 'portugol';
  src:  url('../fonts/portugol.eot?objb97');
  src:  url('../fonts/portugol.eot?objb97#iefix') format('embedded-opentype'),
    url('../fonts/portugol.ttf?objb97') format('truetype'),
    url('../fonts/portugol.woff?objb97') format('woff'),
    url('../fonts/portugol.svg?objb97#portugol') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: 'portugol' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-target:before {
  content: "\e900";
}
.icon-help:before {
  content: "\e901";
}
.icon-code:before {
  content: "\e903";
}
.icon-trash:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-cut:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-arrow-forward:before {
  content: "\e909";
}
.icon-arrow-back:before {
  content: "\e90a";
}
.icon-printer:before {
  content: "\e90b";
}
.icon-export:before {
  content: "\e90c";
}
.icon-import:before {
  content: "\e90d";
}
.icon-folder:before {
  content: "\e90e";
}
.icon-copy:before {
  content: "\e90f";
}
.icon-file:before {
  content: "\e910";
}
.icon-play:before {
  content: "\e911";
}
.icon-lines:before {
  content: "\e912";
}

/*
 * Reset
 */

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #f5f5f5;
	color: #333;
}

ul {
	list-style: none;
}

a {
	color: #333;
}

a:hover {
	color: #4d90fe;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead td,
table .header {
  background: #333;
  color: #fff;
}

table td {
  border: 1px solid #ccc;
  padding: 5px;
}

kbd {
	border-radius: 4px;
	border: 1px solid #ccc;
	border-bottom-width: 3px;
	padding: 2px 6px;
	font-size: 10px;
	text-align: center;
	background: #f5f5f5;
}

iframe, input[type="file"] {
  display: none;
}

/*
 * Utils
 */

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

.hide {
	display: none !important;
}

/*
 * Styles
 */

#doc-metas {
	background: #fff;
	padding: 5px 10px 5px;
}

#fld-title {
	font-size: 18px;
	border-radius: 2px;
	border: 1px solid transparent;
	padding: 2px 5px;
	outline: none;
}


#fld-title:hover {
	border-color: #ccc;	
}

#fld-title:focus {
	border-color: #4d90fe;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
}

#menu {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ccc;
	position: relative;
	padding: 5px;
}

#menu .divider {
	border-top: 1px solid #ccc;
}

.menu-item {
	display: inline-block;
	position: relative;
}

.menu-item a {
	color: #333;
	font-size: 13px;
	padding: 5px 10px;
	display: block;
	cursor: pointer;
	font-family: Arial, sans-serif;
	border: 1px solid transparent;
}

.menu-subitem {
	display: none;
	position: absolute;
	top: 26px;
	left: 0px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px rgba(0,0,0,.2)
}

.menu-subitem a {
	padding: 10px 15px;
}

.menu-subitem a:hover {
	background: #f5f5f5;
}

.menu-item.open .menu-subitem {
	display: inline-block;
	min-width: 160px;
	z-index: 98;
}

.menu-item.open .menu-subitem.has-shortcut {
	min-width: 190px;
}

.menu-item.open .menu-subitem.has-shortcut span {
	float: right;
}

.menu-item:hover > a {
	background: #f5f5f5;
	color: #333;
}

.menu-item.open > a {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	z-index: 99;
	position: relative;
}

.menu-subitem .header {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

/*
 * Toolbar
 */

.toolbar {
	background: #f2f0f2;
	box-shadow: 0 0 5px #fff inset;
	border-bottom: 1px solid #dad8da;
	padding: 5px 15px;
}

.toolbar a {
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid transparent;
	color: #333;
	border-radius: 4px;
	transition: all .5s ease;
	cursor: pointer;
}

.toolbar a:hover {
	box-shadow: 0 0 5px #fff inset;	
	background: #f5f5f5;
	border-color: #ccc;
}

.toolbar .divider {
	width: 1px;
	height: 15px;
	background: #ccc;
	display: inline-block;
}

.btn-toggle-header i:before {
  content: "\e907";
}

.btn-toggle-header.close i:before {
  content: "\e908";
}

/*
 * Modal
 */

.modal {
  display: none;
	width: 100%;
	height: 100%;
	background: rgba(204,204,204,.6);
	position: absolute;
	top: 0;
	left: 0;
  z-index: 999;
}

.modal-container {
	position: relative;
	z-index: 99;
	border: 1px solid #ccc;
	background: #fff;
	padding: 15px;
	width: 50%;
	box-shadow: 2px 2px 5px rgba(0,0,0,.2);
	margin: 40px auto;
}

.modal-header {
  margin-bottom: 10px;
  padding-bottom: 10px; 
}

.modal-header-title {
  float: left;
  color: #333;
}

.modal-header-actions {
  float: right;
}

.modal-header-actions a {
  color: #333;
}

.modal-content p {
	margin-bottom: 5px;
}

#modal-open-file .modal-content {
  max-height: 200px;
  overflow-y: scroll;
}


#modal-open-file .modal-container {
  width: 25%;
}

#modal-open-file .modal-header-title {
  padding-left: 10px; 
}

#modal-about .modal-container {
  width: 25%;
}

#modal-help .modal-content {
  max-height: 500px;
  overflow-y: scroll;
}

/*
 * List
 */

.list li {
}

.list a {
	color: #333;
	padding: 10px;
	display: block;
}

.list a:hover {
	background: #f5f5f5;
}

/*
 * Editor
 */

#cnt-editors {
  position: relative;
  height: 500px;
}

#edt-source,
#edt-output,
#cnt-helper { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  display: block;
}

#edt-output, 
#cnt-helper { 
  left: 50%;
}

#cnt-helper { 
  display: none;
}

#cnt-editors.focus #edt-source {
  width: 100%;
  z-index: 80;
}

#cnt-editors.helper #edt-output {
  display: none;
}

#cnt-editors.helper #cnt-helper {
  display: block;
  overflow-y: scroll;
  background: #fff;
}

#cnt-editors.helper #cnt-helper table {
  font-size: 12px;
}


.disabled {
	color: #ccc !important;
}

.enabled {	
	background: #f5f5f5 !important;
}

.marker {
  position:absolute;
  background:rgba(100,200,100,0.1);
  z-index:20;
  border:1px solid rgba(100,200,100,1);
  -moz-filter: contrast(4);
  -webkit-filter: contrast(4);
    filter: contrast(4);
}

/*
 * Print
 */

@media print {
  #header,
  #cnt-editors.helper #cnt-helper,
  .toolbar, 
  .modal {
    display: none;
  }
  body {
    background: #fff;
  }
  .marker {
    border: none;
    background: #fff;
  }
}
